@import"style.css";

body {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive;
}

h1 {
    font-size: 400%;
}

#rules{

      overflow: hidden;
  white-space: normal;
}